/* Created by: Katie
* Created on: May 2022
* This CSS file defines the style for index.php
* ICS2O-Unit5-02-PHP-ProductOfNumbers
*/

h1 {
  background-color: rgb(44, 19, 32);
  color: rgb(135, 151, 175);
  border: 5px double rgb(95, 75, 102);
  border-radius: 15px;
}

body {
  background-color: rgb(167, 173, 198);
}

p {
  background-color: rgb(135, 151, 175);
  color: rgb(95, 75, 102);
  padding: 5px;
  border-radius: 15px;
}

img {
  border: 5px double rgb(95, 75, 102);
  border-radius: 15px;
}

label {
  background-color: rgb(135, 151, 175);
  color: rgb(95, 75, 102);
  padding: 5px;
  border-radius: 15px;
}